@import "../../index.scss";
@import "../../styles/utilites.scss";

.home-page-container {
  .home-page {
    background-image: linear-gradient(
        to top,
        hsla(231, 82%, 6%, 0.7),
        hsla(230, 81%, 6%, 0.5)
      ),
      url("../../assests/hero.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow-y: hidden;
      height: 80vh;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-family: "Raleway", sans-serif;
      
    @include respond(tablet_portrait) {
      height: 40rem;
    }

    &__header {
      color: white;
      letter-spacing: 0.4rem;
      font-weight: 200;
      font-size: 3rem;
      text-transform: uppercase;
    }

    &__text {
      font-weight: 100;
      color: white;
      font-size: 1.8rem;
    }

    &__button {

      display: flex;
      align-items: center;
      justify-content: center;
      width: 20rem;
      font-family: "Raleway", sans-serif;
      font-size: 1.6rem;
      font-weight: 200;
      color: #fff;
      cursor: pointer;
      margin: 2rem;
      height: 5.5rem;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      text-transform: uppercase;

      border-radius: 50px;
      moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;

      background-image: linear-gradient(
        to right,
        #667eea,
        #764ba2,
        #6b8dd6,
        #8e37d7
      );
      box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

      &:hover {
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
