@import "../../../styles/utilites.scss";
@import "../../../index.scss";

.oxygenCalc {
  min-height: 50rem;
  @include threeInputsGroup;

  &__resultContianer {
    margin: 4rem 0;
  }
  
  &__DO {
    vertical-align: middle;
    border: 1px solid var(--gray);
    border-radius: 5px;
    display: inline-block;
    min-width: 3.5rem;
    min-height: 2.5rem;
    padding: 1rem;
  }
  
}